.k-bg {
  background-image: url("/images/pexels-eberhardgross-1624496.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 50vh;
}
